@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body, #root, .App, #__next {
  height: 100%
}

html {
  height: 100vh;
  height: -webkit-fill-available;
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    text-size-adjust: 100%;
    -webkit-text-size-adjust: none
}
*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}